.input {
  height: 40px;
  padding: 4px 0;
  padding-left: 10px;
  border: none;
  border-radius: $radius-1;
  margin-top: 4px;
  margin-bottom: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  @include font-size(0.8rem, 0.9rem);
}
