.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: $radius-1;
  background-color: white;
  box-shadow: $box-shadow-primary;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lineItem {
  display: flex;
  justify-content: space-between;
}

.date {
  padding: 3px 8px;
  border-radius: $radius-1;
  background-color: $color-primary;
  color: $color-tertiary;
  font-size: 13px;
}

.price {
  margin-top: 20px;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
}

.quantity {
  font-weight: 600;
  white-space: nowrap;
}
