.NavigationItem {
  border: 1px solid var(--surface-600);
  border-radius: $radius-2;
  list-style: none;
  white-space: nowrap;

  a {
    padding: 3px 12px;
    border-radius: $radius-2;
    font-size: 16px;
    font-weight: 600;

    @include respond(mobile_l) {
      font-size: 14px;
    }
  }
}

.itemActive {
  background-color: black;
  box-shadow: $box-shadow-primary;
  color: white;
}
