.card {
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  border-radius: $radius-1;
  background-color: #ffffff;
  box-shadow: $box-shadow-primary;
}

.img {
  position: relative;
  height: 200px;
}

.name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.details {
  padding: 20px;
  font-size: 15px;
}
