.container {
  background-color: white;
  max-width: 300px;
  width: 100%;
  border-radius: $radius-1;
  box-shadow: $box-shadow-primary;
  overflow: hidden;
}

.img {
  position: relative;
  height: 200px;
}

.name {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 18px;
}

.details {
  padding: 20px;
  font-size: 15px;
}
