.card {
  overflow: hidden;
  width: 100%;
  border-radius: $radius-1;
  background-color: #ffffff;
  box-shadow: $box-shadow-primary;
}

.img {
  position: relative;
  height: 186px;
}

.name {
  margin-bottom: 8px;
  font-weight: 600;
  @include font-size(1rem, 1.1rem);
}

.type {
  @include font-size(0.7rem, 0.8rem);
}

.details {
  padding: 1rem;
}
