.button {
  width: 100%;
  border: none;
  border-radius: $radius-2;
  background-color: black;
  box-shadow: $box-shadow-primary;
  color: white;
  cursor: pointer;

  a,
  div {
    display: block;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
  }
}
