.button {
  background-color: black;
  color: white;
  width: 100%;
  border: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: $box-shadow-primary;

  a,
  div {
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    display: block;
  }
}
