.Page {
  padding-bottom: 100px;
  background-color: $color-quaternary;
  min-height: 100vh;
  position: relative;
  overflow-x: clip;
}

.container {
  display: flex;
  gap: 30px;

  @include respond(tablet) {
    display: block;
  }
}
