.navigation {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--surface-800);
  box-shadow: $box-shadow-primary;
}

.navigationList {
  display: flex;
  width: fit-content;
  max-width: 75%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 15px;

  @include respond(laptop_s) {
    width: unset;
    max-width: calc(100vw - 70px);
  }
}

.navigationRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalItems {
  position: absolute;
  top: -15px;
  right: -11px;
  display: flex;
  min-width: 20px;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: 400;
  @include font-size(0.6rem, 0.6rem);
  line-height: 0;
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    width: 1.1rem;
    height: 1.1rem;

    path {
      fill: var(--on-surface-100);
    }
  }
  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 4px;
  }
}
