.navigation {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--surface-800);
  box-shadow: $box-shadow-primary;
}

.navigationList {
  display: flex;
  width: fit-content;
  max-width: 75%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 15px;

  @include respond(laptop_s) {
    width: unset;
    max-width: calc(100vw - 70px);
    overflow-y: scroll;
  }
}

.navigationRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  svg {
    font-size: 24px;
  }
}

.user {
  display: flex;
  align-items: center;
  svg {
    font-size: 20px;
  }
}

.totalItems {
  position: absolute;
  top: -16px;
  right: -6px;
  display: flex;
  min-width: 20px;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: 400;
  @include font-size(0.6rem, 0.7rem);
}

.logBtn {
  padding: 1px 13px;
  border: 1px solid black;
  border-radius: $radius-2;
  background-color: var(--surface-900);
  color: var(--on-surface-100);
  cursor: pointer;
  transition: 0.1s ease-in;
  @include font-size(0.8rem, 1rem);

  &:hover {
    background-color: black;
    color: white;
  }
}
.navItem {
  border: 1px solid var(--surface-600);
  border-radius: $radius-2;
  list-style: none;

  div,
  a {
    display: flex;
    align-items: center;
    padding: 3px 12px;
    border-radius: $radius-2;
    cursor: pointer;
    font-weight: 400;
    gap: 0.5rem;
    @include font-size(0.8rem, 0.9rem);
  }
}

.itemActive {
  padding: 3px 12px;
  background-color: black;
  box-shadow: $box-shadow-primary;
  color: white;
}
