.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.571);
}

.inner {
  width: fit-content;
  max-width: 500px;
  height: fit-content;
  background-color: white;
  border-radius: $radius-1;
  box-shadow: $box-shadow-primary;
  margin: 0 20px;
  position: relative;
}

.btnClose {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    color: black;
    font-size: 24px;
  }
}
