.user {
  display: flex;
  margin-top: 60px;
  gap: 30px;
  width: 100%;
}

.title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}

.orderInfo {
  padding: 30px;
  border-radius: 8px;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
}
