.SectionItems {
  margin-top: 3rem;
}

.title {
  margin-bottom: 1rem;
  font-weight: 700;
  @include font-size(1.4rem, 1.6rem);
}

.itemsContainer {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @include respond(tablet) {
    grid-template-columns: 1fr;
  }
}
